@font-face{
    font-family:font-italic;
    src:url('F:/floors/fonts/Poppins-Italic.ttf');
}
@font-face{
    font-family:font-regular;
    src:url('F:/floors/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face{
    font-family:font-medium;
    src:url('F:/floors/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face{
    font-family:font-semibold;
    src:url('F:/floors/fonts/Poppins/Poppins-SemiBold.ttf'); 
}
@font-face{
    font-family:font-bold;
    src:url('F:/floors/fonts/Poppins/Poppins-Bold.ttf'); 
}
@font-face{
    font-family:font-black;  
    src:url('F:/floors/fonts/Poppins/Poppins-Bold.ttf');
}
*{
    box-sizing: border-box;
    font-family: font-regular;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a{ 
    text-decoration: none;
}
p{
    font-size: 15px;
    margin-bottom: 15px; 
    color: #2b2e38; 
} 
button{
    background: none;
    border: none;
    outline: none;
}
.wrapper{
    padding: 0; 
}
.header-main{ 
    position: sticky;
    top: 0;
    z-index: 10;
}
.header-info{
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #2b2e38;
}
.wrapper.header{
    display: flex;
    justify-content: space-between;
    padding: 0; 
}
.header-info-list, .header-list-social{ 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #ffff; 
} 
.header-info-item a{
    color: #ffff;
}
.social-link, .header-info-item{ 
    font-size: 12px;
    color: #ffff;  
    margin-left: 15px;
}
.header-info-item .fa-solid, .social-link .fa-brands{
    font-size: 15px;
}
.social-link:hover, .social-link:active{
    color: #c45064;
}
.header-nav{
    background-color: #ffff;
}
.header-nav-content{ 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
} 
.img-logo{
    width: 50px;
    height: auto;
}
.offcanvas{ 
    align-self: center;
}
.navbar-expand-sm .navbar-nav { 
    margin: 0 auto;
} 
.navbar-expand-sm .navbar-nav .nav-link { 
    position: relative; 
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 15px; 
    padding: 0;
}
.nav-link::after{
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    content:'';
    background-color: #998857;
    transition: width .4s ease-in-out;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
}
.nav-link:hover::after, .navbar-nav .nav-link.active::after{
    width: 100%;
    transition: width .4s ease-in-out;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
}  
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active{
    color: #998857;
}
.header-contact-us {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 15px;
    font-family: font-regular;
    color: #998857;
    text-transform: uppercase;
    border: 1px solid #998857;
    transition: color, background-color, .4s ease-in-out;
    -webkit-transition: color, background-color, .4s ease-in-out;
    -moz-transition: color, background-color, .4s ease-in-out;
    -ms-transition: color, background-color, .4s ease-in-out;
    -o-transition: color, background-color, .4s ease-in-out;
}
.header-contact-us:hover, .header-contact-us:active{
    color: #ffff;
    background-color: #998857;
    transition: color, background-color, .4s ease-in-out;
    -webkit-transition: color, background-color, .4s ease-in-out;
    -moz-transition: color, background-color, .4s ease-in-out;
    -ms-transition: color, background-color, .4s ease-in-out;
    -o-transition: color, background-color, .4s ease-in-out;
}
#home{
    height: 60vh; 
}
#homeCarousel{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.wrapper.home{
    position: relative;
    z-index: 5;
    text-align: center;
}
#homeCarousel .carousel-inner{ 
    position: absolute;
    top: 0;
    height: 100%; 
    z-index: 0;
} 
.carousel-control-next.home-arrow, .carousel-control-prev.home-arrow{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 40%; 
    padding: 7px 10px; 
    background-color: #c45064;
} 
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 25px;
}
.carousel-control-next.home-arrow:hover, .carousel-control-prev.home-arrow:hover{
    background-color: #c54056; 
} 
.carousel-control-next.home-arrow{
    right: 15vw;  
}
.carousel-control-prev.home-arrow{
    left: 15vw;
}
.home-carousel-item{
    height: 100%;
}
.home-carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;  
}
.text-content{
    width: 65%;
    margin: 0 auto; 
    opacity: 0;
}
.text-content.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.main-title{
    font-size: 60px; 
    font-family: font-semibold; 
    text-transform: uppercase;
    letter-spacing: 5px;  
    color: #ffff;
}
.text-content p{ 
    color: #ffff;
}
.text-content .buttons{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
.buttons .link-button{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-family: font-regular;
    font-size: 15px;
}
.buttons .link-button:first-of-type{
    background-color: #2b2e38;
    color: #ffff;
    margin-right: 15px;
}
.buttons .link-button:first-of-type:hover, .buttons .link-button:first-of-type:active{
    background-color: #2b2e38d6;
}
.buttons .link-button:last-of-type{
    background-color: #998857;
    color: #ffff;
}
.buttons .link-button:last-of-type:hover, .buttons .link-button:last-of-type:active{
    background-color: #998957e0;
}
#home, #about{
    margin-bottom: 50px;
}
.about-additional{ 
    margin-top: 50px; 
    margin-bottom: 50px; 
}
.about-additional-content{
    width: 75%;
    margin: 0 auto; 
    text-align: center; 
    opacity: 0;
}
.about-additional-content.animate{
    animation-name: fadeUp;
    animation-duration: .4s; 
    animation-fill-mode: forwards; 
}
.cats-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.cats-container .cat-item{
    position: relative;
    width: 49%;
    height: 280px; 
    background-position: center;
    background-size: cover; 
    margin-bottom: 15px;
} 
.cat-item .image-container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    transition: filter, background-size, .4s ease-in-out;
    -webkit-transition: filter, background-size, .4s ease-in-out;
    -moz-transition: filter, background-size, .4s ease-in-out;
    -ms-transition: filter, background-size, .4s ease-in-out;
    -o-transition: filter, background-size, .4s ease-in-out;
}
.cat-title{
    position: absolute;
    right: 0;
    top: 15px; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end; 
    width: fit-content;
    height: 30px;
    padding: 0 15px;
    background-color: #998857;
}
.cat-title span{
    font-size: 15px;
    font-family: font-bold;
    text-transform: uppercase;
    color: #ffff;
}
.cat-button{
    position: absolute;
    bottom: 30px;
    left: 42%; 
    right: 42%;
    width: fit-content;
    opacity: 0;
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
    -moz-transition: transform .4s ease-in-out;
    -ms-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
} 
.cat-item:hover .cat-button{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
    -moz-transition: transform .4s ease-in-out;
    -ms-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
}
.cat-item:hover .image-container{
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    background-size: 105% 105%;
    transition: filter, background-size, .4s ease-in-out;
    -webkit-transition: filter, background-size, .4s ease-in-out;
    -moz-transition: filter, background-size, .4s ease-in-out;
    -ms-transition: filter, background-size, .4s ease-in-out;
    -o-transition: filter, background-size, .4s ease-in-out;
}
.cat-link{
    width: fit-content;
    height: auto;
    padding: 7.5px 15px;
    font-size: 15px;
    font-family: font-medium; 
    color: #ffff;
    text-decoration: none;
    background-color: #998857;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.cat-link:hover{
    background-color: #998957e0;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.cat-item:first-of-type .image-container{
    background-image: url(F:/floors/images/madison-bracaglia-fcWAwPKpkTU-unsplash.jpg);
}
.cat-item:nth-of-type(2) .image-container{
    background-image: url(F:/floors/images/mattias-russo-larsson-G8OTxsn7Bm0-unsplash.jpg);
}
.cat-item:nth-of-type(3) .image-container{
    background-image: url(F:/floors/images/mitchell-luo-_NzW-__ohkM-unsplash.jpg);
}
.cat-item:last-of-type .image-container{
    background-image: url(F:/floors/images/note-thanun-fMsG3KPwuX0-unsplash.jpg);
}

.wrapper.about, .wrapper.services{  
    display: flex;
    justify-content: space-between; 
}
.block-content{
    width: 45%;
    opacity: 0;
}
.about .block-content:first-of-type.animate{
    animation-name: fadeLeft;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
.about .block-content:last-of-type.animate{
    animation-name: fadeLeft;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
.section-subtitle{
    font-size: 12px;
    text-transform: uppercase; 
    color: #c45064; 
}
.section-title{
    font-size: 40px;
    text-transform: capitalize;
    font-family: font-medium;  
    margin-bottom: 15px;
} 
.stats-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 30px; 
}
.stats-list li{
    font-size: 15px;
    font-family: font-medium; 
} 
.stats-list .number-count{
    font-size: 40px;
    font-family: font-bold;
    color: #998857; 
}
.arrow-link{
    font-size: 15px;
    font-family: font-medium; 
    color: #998857; 
}
.about-image{
    width: 100%;
    height: auto; 
}
#services{ 
    margin-bottom: 50px; 
}
#benefits{
    padding: 50px 0;
    background-color: #2b2e38; 
} 
.benefits{
    opacity: 0;
}
.benefits.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.benefits .section-subtitle{
    display: inherit; 
    text-align: center; 
}
.benefits .section-title{
    color: #ffff;
    text-align: center;
    width: 75%;
    margin: 0 auto; 
}  
.benefits-container{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px; 
}
.benefit-item{
    width: 31%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #c45064;
}
.benefit-icon{
    width: 10%;
    display: flex; 
    font-size: 25px;
    color: #c45064;
}
.benefit-text{
    width: 85%;
}
.benefit-text h3{
    font-size: 20px;
    font-family: font-bold;
    color: #c45064;
}
.benefit-text p{ 
    color: #ffff;
}
.services{
    margin-top: 50px; 
}
.services .block-content{
    opacity: 0;
}
.services .block-content:first-of-type.animate{
    animation-name: fadeLeft;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
} 
.services .block-content:last-of-type.animate{
    animation-name: fadeRight;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.services-image{
    width: 100%;
    height: auto; 
    margin-bottom: 15px;
}
.buttons .link-button.services-btn{
    background-color: #c45064;
} 
.services-content h4{
    font-size: 25px;
    font-family: font-medium; 
    text-transform: uppercase;
    color: #998857;
}
.services-content h5{
    font-size: 15px;
    font-family: font-bold; 
}
.services-list{
    margin-bottom: 15px; 
}
.services-list .fa-check{
    color: #998857; 
    font-size: 15px; 
} 
.download-pricelist{
    text-decoration: underline; 
    color: #998857;
}
.download-pricelist:hover, .download-pricelist:active{
    color: #998957df;
}
#catalogue{
    margin-bottom: 50px;
}
.catalogue{
    opacity: 0;
}
.catalogue.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.catalogue-heading{
    width: 75%;
    margin: 0 auto;
    text-align: center; 
}
.catalogue-navigation-tabs{
    margin: 30px 0;   
}
.nav-tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
}
.tab-title{
    width: fit-content;
    font-family: font-medium;
    text-transform: uppercase; 
    padding: 7.5px 15px; 
    margin: 0 7.5px;
}
.tab-title:hover{
    background-color: #2b2e385f;
    color: #ffff;
}
.tab-title.active{
    background-color: #2b2e38;
    color: #c45064; 
} 
.tab-pane, .tab-content>.active{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.catalogue-item{
    width: 23%; 
    margin-bottom: 30px;   
    box-shadow: 0px 0px 9px 2px #2b2e385e;
}
.catalogue-item-image{
    width: 100%;
    position: relative; 
}
.catalogue-item-image .cat-button{
    left: 36%;
}
.catalogue-item-image .cat-link{
    background-color: #2b2e389e;
}
.catalogue-image{
    width: 100%;
    height: auto;
    transition: filter .4s ease-in-out;
    -webkit-transition: filter .4s ease-in-out;
    -moz-transition: filter .4s ease-in-out;
    -ms-transition: filter .4s ease-in-out;
    -o-transition: filter .4s ease-in-out;
}
.catalogue-item:hover .cat-button{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
.catalogue-item .cat-link:hover{
    background-color: #2b2e38; 
}
.catalogue-item:hover .catalogue-image{
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    transition: filter .4s ease-in-out;
    -webkit-transition: filter .4s ease-in-out;
    -moz-transition: filter .4s ease-in-out;
    -ms-transition: filter .4s ease-in-out;
    -o-transition: filter .4s ease-in-out;
}
.catalogue-item-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding: 15px;   
}
.catalogue-item-content h3{
    font-size: 15px;
    font-family: font-bold; 
    text-transform: uppercase; 
}
.size{
    font-size: 15px;
    font-family: font-medium; 
}
.price{
    font-size: 15px;
    font-family: font-medium;
    color: #c45064; 
}
#portfolio{
    margin-bottom: 50px; 
    position: relative; 
}
#testimonials{
    padding: 50px 0;
    background-color: #2b2e38; 
}
#testimonialsCarousel .carousel-inner{
    display: flex;  
}
.testimonials{
    opacity: 0;
}
.testimonials.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
.testimonials-container {
    margin-top: 30px;
} 
.carousel-item-content{ 
    display: flex;
    justify-content: space-between;
}
.testimonials-item{ 
    width: 31%;
    padding: 30px; 
    border: 2px solid #c45064;
}
.testimonials-content{ 
    width: 100%;
    text-align: center;
}
.user-image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.user-name {
    font-size: 15px;
    font-family: font-medium;
    margin-bottom: 15px;
    color: #ffff;
    margin-top: 15px;
}
.testimonials-content p{ 
    color: #ffff;
}
.carousel-control-next.testimonials-arrow, .carousel-control-prev.testimonials-arrow{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 40%; 
    padding: 7px 10px; 
    background-color: #c45064;
} 
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 25px;
}
.carousel-control-next.testimonials-arrow:hover, .carousel-control-prev.testimonials-arrow:hover{
    background-color: #c54056; 
} 
.carousel-control-next.testimonials-arrow{
    right: -80px;
}
.carousel-control-prev.testimonials-arrow{
    left: -80px;
} 
.testimonials .section-subtitle, .testimonials .section-title{
    display: inherit; 
    text-align: center;
}
.testimonials .section-title{
    color: #ffff; 
}
.portfolio{
    margin-top: 50px;
    opacity: 0;
}
.portfolio.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.portfolio .section-subtitle, .portfolio .section-title{
    display: inherit; 
    text-align: center;
}
.portfolio-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.portfolio-item{
    width: 23%;  
    margin-bottom: 30px;
    position: relative;
}
.portfolio-image{
    width: 100%;
    height: auto; 
}
.expand-image-btn{
    position: absolute;
    top: 10px;
    right: 10px; 
    color: #fff; 
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.expand-image-btn .fa-expand{
    font-size: 15px;
}
.expand-image-btn:hover{
    color: #e27e6e;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.gallery-expand-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #272b33d4;
    flex-wrap: wrap;
    display: none;
    justify-content: center;
    z-index: 100;
}
.gallery-expand-container.active{ 
    display: flex;
}
.expand-item{
    position: relative;
    width: 45vw;
    height: auto;
    margin: 0 auto;
    align-self: center;
}
.expanded-image-header{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 20px 15px 15px 15px; 
    display: flex;
    justify-content: space-between; 
    background-color: #272b33;
    font-family: font-medium; 
    font-size: 15px;
    color: #ffff;
}
.expanded-image-header h4 {
    font-size: 1.2vw; 
}
.expanded-image-header .fa-xmark{
    font-size: 1.2vw;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.expanded-image-header .fa-xmark:hover{
    color: #e27e6e;
    cursor: pointer;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.expanded-image{
    width: 100%;
    height: auto;
} 
#contacts{
    margin-bottom: 50px; 
}
.contacts{
    display: flex;
    justify-content: space-between; 
} 
.contacts .block-content:first-of-type.animate{
    animation-name: fadeLeft;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.contacts .block-content:last-of-type.animate{
    animation-name: fadeRight;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
.contacts-title{
    font-size: 20px;
    font-family: font-bold;
}
.contacts-social-title{
    color: #2b2e38; 
    font-family: font-bold;
    font-size: 15px; 
    align-self: center; 
}
.social-link.contacts-link{
    color: #2b2e38; 
}
.contact-form{
    width: 100%;
}
.form-title{
    font-size: 30px;
    font-family: font-bold; 
    text-transform: uppercase;
    margin-bottom: 15px; 
}
.contact-form label{
    font-size: 15px;
    font-family: font-medium; 
    margin-bottom: 5px;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    font-family: font-medium;
    color: #2b2e38;
    border-bottom: 2px solid #2b2e38;
    margin-bottom: 15px; 
}
.contact-form input{
    padding-bottom: 5px;
}
#err-fname, #err-email, #err-mssg{
    font-size: 10px; 
    margin-left: 5px; 
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
    font-size: 15px;
    font-family: font-medium;
}
.contact-form input:focus, .contact-form textarea:focus{
    border-color: #c45064;
}
.submit-btn{
    font-size: 15px; 
    color: #2b2e38;
    padding: 7.5px 15px;
    border: 2px solid #2b2e38;
}
.submit-btn:hover{
    background-color: #c45064;
    border-color: #c45064; 
    color: #fff;
} 
.additional-contacts{
    margin-top: 30px;
}
.contact-info-block{
    margin-bottom: 15px; 
}
.contacts-add-title{
    font-size: 15px;
    font-family: font-bold;
    margin-bottom: 5px; 
}
.contacts-add-info{
    font-size: 15px;
    font-family: font-medium;
}
.contacts-add-info a{
    color: #c45064;
    text-decoration: underline; 
}
#footer{ 
    background-color: #2b2e38;  
    padding: 50px;
}
.footer{
    display: block;
    text-align: center;
}
.footer-title{
    font-size: 30px;
    font-family: font-bold;   
    color: #c45064;
    text-transform: uppercase;
}
.footer p{
    width: 45%;
    margin: 0 auto;
    color: #ffff;
}
.footer ul{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}
.footer a{
    margin-right: 1vw;
    font-size: 1vw;
    color: #ffff;
}
.footer a:hover{
    color: #c45064;
}
.footer-copyright{
    width: 100%;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ffffff7e;
    text-align: center;
}
.footer-copyright p{
    font-size: 10px;
    color: #ffffff7e;
}
